/* Square Tags */
/* made by: Myster */
/* version: 2025-03-15 */
/* function: tags: squared corners, added border, use accent color */
/* comment: Inspired by LYT Mode and Prism themes */

body {
    --tag-border-color: var(--color-accent-1) !important;
    --tag-border-color-hover: var(--color-accent) !important;
    --tag-color: var(--color-accent-1) !important;
    --tag-color-hover: hsl(var(--color-accent-1) 50% 50% 100%) !important;

    --tag-border-width: 0.1em !important;
    --tag-padding-x: 0.2em !important;
    --tag-padding-y: 0em !important;
    --tag-radius: 0.2em !important;
}

.metadata-property .multi-select-pill {
    border-radius: 0.2em !important;
}

.metadata-property[data-property-key=tags] {
    --tag-padding-y: 0.15em !important;
}
