/* Accented Tabs */
/* made by: Myster (https://github.com/MysterV) */
/* version: 2025-03-15 */
/* function: Adds small accent lines around active tabs */
/* comment: Based on the LYT Mode theme, dark mode only */



/* tab bar */
.theme-dark .mod-root .workspace-tabs:not(.mod-stacked) .workspace-tab-header.is-active.mod-active {
    border: 0.15em solid var(--color-accent-1);
    border-radius: var(--tab-radius);
}

/* stacked tabs */
.theme-dark .mod-root .workspace-tabs.mod-stacked .workspace-tab-header.is-active.mod-active {
    border: 0.15em solid var(--color-accent-1);
    border-radius: var(--tab-radius);
    & .workspace-tab-header-inner {
        border-radius: var(--tab-radius);
        border-style: hidden;
    }
}
