/* Accented Tabs */
/* made by: Myster */
/* version: 2025-03-15 */
/* Adds small accent lines around active tabs */
/* Based on the LYT Mode theme */



/* tab bar */
.theme-dark .mod-root .workspace-tabs:not(.mod-stacked) .workspace-tab-header.is-active.mod-active {
    border: 0.15em solid var(--color-accent-1);
    border-radius: var(--tab-radius);

/* stacked tabs */
.theme-dark .mod-root .workspace-tabs.mod-stacked .workspace-tab-header.is-active.mod-active {
    border: 0.15em solid var(--color-accent-1);
    border-radius: var(--tab-radius);
    & .workspace-tab-header-inner {
        border-radius: var(--tab-radius);
        border-style: hidden;
    }
}
