/* Square Tags */
/* made by: Myster */
/* version: 2025-03-15 */
/* Squared tags, added border, use accent color */
/* Inspired by LYT Mode and Prism themes */

body {
    --tag-border-width: 2px;
    --tag-padding-x: 0.2em;
    --tag-padding-y: 0em;
    --tag-radius: 0.2em;
    --tag-border-color: var(--color-accent-1);
    --tag-border-color-hover: var(--color-accent);
    --tag-color: var(--color-accent-1);
    --tag-color-hover: var(--color-accent-1);
}

.metadata-property .multi-select-pill {
    border-radius: 0.2em;
}

.metadata-property[data-property-key=tags] {
    --tag-padding-y: 0.15em;
}
